<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Shop
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-tabs >

    <ion-tab-bar slot="bottom"  >
      <ion-tab-button tab="Orders"  href="/shop/(orders:orders)">
        <ion-icon name="basket"></ion-icon>
        <ion-label>Orders</ion-label>
        <ion-router-outlet name="orders"></ion-router-outlet> 
      </ion-tab-button>
  
      <ion-tab-button tab="Pending"  href="/shop/(pending:pending)>">
        <ion-icon name="filing"></ion-icon>
        <ion-label>Pending</ion-label>
        <ion-router-outlet name="pending"></ion-router-outlet> 
      </ion-tab-button>
  
  
      <ion-tab-button tab="Done" href="/shop/(done:done)">
        <ion-icon name="done-all"></ion-icon>
        <ion-label>Done</ion-label>
        <ion-router-outlet name="done"></ion-router-outlet>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>

  
  
</ion-content>
